@font-face {
    font-family: 'Oswald';
    src: url('../fonts/oswaldNormal/Oswald-Regular.eot');
    src: url('../fonts/oswaldNormal/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/oswaldNormal/Oswald-Regular.woff2') format('woff2'),
        url('../fonts/oswaldNormal/Oswald-Regular.woff') format('woff'),
        url('../fonts/oswaldNormal/Oswald-Regular.ttf') format('truetype'),
        url('../fonts/oswaldNormal/Oswald-Regular.svg#Oswald-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



h1::after, h2::after{
    position: absolute;
    display: inline-block;
    content:'';
    z-index: -1;
    background: #A67C52;
    height: 0.1em;
    width: 1em;
    bottom: 0;
    transform: translate(-1em, -0.1em);
}

h1,h2,h3,h4,h5{
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}