footer {
    margin-top: 130px;
    .logo{
       margin: 0 auto; 
    }
}
.link-dark{
    display: block;
    text-decoration: none;
    color: black;
    height: fit-content;
    &:hover{
        text-decoration: underline;
    } 
}
.active{
    border-bottom: solid black 1px ;
}
@media (min-width: 768px) {
    footer {
        .logo{
            width: fit-content;
            position: absolute;
            bottom: 50%;
            left:50%;
            transform: translate(-50%,50%);
        }
    }
  }
  