// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/vendor/rfs";

//6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
// @import "../../node_modules/bootstrap/scss/tables";

@import "../../node_modules/bootstrap/scss/forms";
// @import "../../node_modules/bootstrap/scss/forms/labels";
// @import "../../node_modules/bootstrap/scss/forms/form-text";
// @import "../../node_modules/bootstrap/scss/forms/form-control";
// @import "../../node_modules/bootstrap/scss/forms/form-select";
// @import "../../node_modules/bootstrap/scss/forms/form-check";
// @import "../../node_modules/bootstrap/scss/forms/form-range";
// @import "../../node_modules/bootstrap/scss/forms/floating-labels";
// @import "../../node_modules/bootstrap/scss/forms/input-group";
// @import "../../node_modules/bootstrap/scss/forms/validation";

@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
// @import "../../node_modules/bootstrap/scss/accordion";
// @import "../../node_modules/bootstrap/scss/breadcrumb";
// @import "../../node_modules/bootstrap/scss/pagination";
// @import "../../node_modules/bootstrap/scss/badge";
// @import "../../node_modules/bootstrap/scss/alert";
// @import "../../node_modules/bootstrap/scss/progress";
// @import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
// @import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal";
// @import "../../node_modules/bootstrap/scss/tooltip";
// @import "../../node_modules/bootstrap/scss/popover";
// @import "../../node_modules/bootstrap/scss/carousel";
// @import "../../node_modules/bootstrap/scss/spinners";
// @import "../../node_modules/bootstrap/scss/offcanvas";
@import "../../node_modules/bootstrap/scss/placeholders";


@import "../../node_modules/bootstrap/scss/helpers";



 //7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap/scss/utilities/api";

//  8. Add additional custom code here
// @import url(https://fonts.googleapis.com/css2?family=Oswald&display=swap);


@import "../../node_modules/swiper/swiper.scss";
@import "customBurger";
@import "customTypo";
@import "customCards";
@import "social";
@import "footer";
@import "guitarists";
@import "personalPage";



body{
    min-width: 320px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1500' height='1000' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg id='background'%3e%3cpath id='Vector' opacity='0.3' d='M-307.911 560.312C-235.192 487.247 -146.49 414.49 -42.7383 413.938C29.938 413.742 100.754 452.464 139.987 511.816C170.686 558.253 183.245 614.229 215.59 657.666C256.212 712.102 327.064 741.521 398.452 736.407C479.125 730.795 552.305 682.358 632.1 682.808C691.909 683.144 748.324 711.294 795.586 747.368C847.052 786.661 884.842 835.709 935.876 873.065C978.511 904.197 1028.26 926.831 1077.23 918.434C1125.74 910.122 1167.01 868.294 1183.6 820.42C1199.29 775.18 1200.91 725.598 1195.47 677.328C1190.58 633.926 1184.96 588.856 1199.88 549.114C1216.53 504.718 1256.33 472.11 1298.01 446.034C1338.92 420.557 1382.77 400.198 1419.8 370.818C1466.83 333.481 1501.69 281.593 1517.66 224.323' stroke='%23034F46' stroke-miterlimit='10'/%3e%3cpath id='Vector_2' opacity='0.2' d='M-306.557 564.077C-231.014 490.255 -141.623 415.116 -35.6661 413.865C37.6692 412.996 109.731 451.564 148.256 512.299C178.084 559.327 188.103 616.759 219.079 663.058C257.902 721.107 329.816 756.061 400.898 751.423C482.59 746.091 556.549 693.323 638.352 691.982C700.039 690.967 758.147 719.707 807.18 755.817C856.212 791.926 898.823 835.833 947.777 872.057C987.522 901.476 1035.66 926.549 1085.3 919.324C1133.9 912.247 1174.11 874.21 1193.57 829.798C1213.02 785.402 1214.51 735.511 1209.59 687.709C1205.35 646.488 1196.71 604.08 1208.75 564.159C1222.57 518.381 1261.54 483.792 1302.82 458.329C1344.13 432.861 1389.53 413.793 1428.39 384.851C1478.04 347.881 1515.36 295.163 1533.26 236.749' stroke='%23034F46' stroke-miterlimit='10'/%3e%3c/g%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    background: radial-gradient(circle , rgba(166,124,82,0.3) 0%, rgba(166,124,82,0) 100%);
    background-repeat: no-repeat;
    background-size: 650px;
    background-position: center;
}